<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list of customers </title>
</head>
<body>

<h1> list of customers </h1>

<div class="form-group">
        <button class="btn btn-outline-info" type="submit">
            <a href="{% url 'home:customer-create' %}">create new </a>
        </button>
    </div>

<div >
{% for customer in customers %}
    <p>First name : {{ customer.first_name }} </p>
    <p>Last name : {{ customer.last_name }}</p>
    <p> Other names : {{ customer.other_names }}</p>
    <button class="btn btn-outline-info" type="submit">
        <a href="{% url 'home:customer-detail' customer.id %}">detail</a>
    </button>
    <button class="btn btn-outline-info" type="submit">
        <a href="#">update</a>
    </button>
<hr>

{% endfor %}
    </div>

</body>
</html>